spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/rvcomfort?serverTimezone=Asia/Bangkok&useUnicode=yes&characterEncoding=UTF-8
    username: rvdev
    password: mysql
  jpa:
    properties:
      hibernate.dialect: org.hibernate.dialect.MySQL8Dialect
      hibernate.generate_statistics: true
    hibernate:
      ddl-auto: none
    show-sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration/main, classpath:db/migration/dev
    url: jdbc:mysql://localhost:3306/rvcomfort?serverTimezone=Asia/Bangkok&useUnicode=yes&characterEncoding=UTF-8&createDatabaseIfNotExist=true
    user: rvdev
    password: mysql

## Custom Properties ##
rvcomfort:
  jwt:
    secret: HELLO_HELLO_HELLO_HELLO_BANANA
  host:
    front-end: http://localhost:8080